# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
env/
venv/
ENV/

# Testing & Caching
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large dataset files
dataset/.cache/
dataset/archive/
dataset/scan/
dataset/stare/
*.h5
